{% extends "base.html" %}

{% load static %}

{% block title %}
  | Authenticate Product
{% endblock title %}

{% block content %}
    <div class="image-auth">
    <div class="container auth">
    <form action="{% url 'authenticate' %}" method="POST">
        {% csrf_token %}
        <h4 style="text-align: center;">Authenticate Code</h4>
        <div class="mt-3 mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label"><center><h4>Authenticate Code</h4></center></label> -->
        <input type="text" class="form-control" id="exampleInputPassword1" name = "code" required>
        </div>
        <center><button type="submit" class="btn btn-primary">Verify</button></center>
    </form>
    {% if message %}
        <div class="mt-3">
            <h2 style="text-align: center;">{{message}}</h2>
        </div>
    {% endif %}
    </div>
    </div>
{% endblock content %}